# 変数

## 数値

In [1]:
a = 1

In [2]:
print(a)

1

In [3]:
a

1

In [4]:
b = 1.5

In [5]:
b

1.5

In [7]:
type(a) # integer: 整数

int

In [9]:
type(b) # float: 実数

float

## 文字列

In [10]:
name = 'tomoya'

In [11]:
name

'tomoya'

## 数値の四則演算

In [12]:
1 + 1

2

In [13]:
2 - 1

1

In [14]:
2 * 3

6

In [15]:
2 /2

1.0

In [16]:
3333 * 111111111111

370333333332963

In [17]:
4 % 2

0

In [18]:
2 ** 3

8

In [19]:
2 ***3

SyntaxError: invalid syntax (<ipython-input-19-400c6fc7b66e>, line 1)

## 基本構文

### 比較演算

In [21]:
\n

SyntaxError: unexpected character after line continuation character (<ipython-input-21-d4a7e95adeab>, line 1)

In [26]:
print("sssssss\n ssssss\tっっっっt")

sssssss
 ssssss	っっっっt

In [28]:
numbers = [4, 5, 6, 7]

In [29]:
numbers

[4, 5, 6, 7]

In [31]:
numbers[0:3]

[4, 5, 6]

In [32]:
numbers[1:3]

[5, 6]

In [33]:
numbers[2:4]

[6, 7]

In [34]:
numbers[:2]

[4, 5]

In [35]:
numbers[:4]

[4, 5, 6, 7]

In [36]:
numbers[2:]

[6, 7]

In [37]:
t = (4, 5, 6, 7)

In [38]:
t

(4, 5, 6, 7)

In [39]:
t

(4, 5, 6, 7)

In [41]:
vars(names
    )

NameError: name 'names' is not defined

In [42]:
t[0]

4

In [43]:
t[2:]

(6, 7)

In [44]:
t[:2]

(4, 5)

In [45]:
t[0:3
 ]

(4, 5, 6)

In [46]:
t.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [47]:
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [49]:
# タプルは上書きができないもの！

In [50]:
# 辞書

In [53]:
results = {"数学": 90, "理科": 80, "英語": 75}

In [56]:
results["数学"]

90

In [63]:
for i in range(5):
    print(i)

0
1
2
3
4

In [64]:
names = ["tom", "ss", "eeee"]

In [65]:
for name in names:
    print(name)

tom
ss
eeee

In [66]:
for i in range(len(names)):
    print(names[i], i)

tom 0
ss 1
eeee 2

In [67]:
for a in names:
    print(a)

tom
ss
eeee

## 絶対値を返す関数を作る

In [72]:
def abs(num):
    if num > 0:
        return num
    else:
        return -(num)

In [73]:
abs(-3)

3

In [70]:
-(-3)

3

In [71]:
num = -2
-(num)

2